@import url('https://fonts.googleapis.com/css?family=Amaranth|Courgette');
*{
    font-family:Amaranth ;
}

li:not(.welcome):not(.cart){
    list-style-type: none;
    display: inline-block;
    border: 2px solid lightsteelblue;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
}
li:not(.welcome):hover{
    transform: scale(1.1);
}
.logout:hover
{
    color:red;
}
nav{
    background: cornflowerblue;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 0;
}
.left-container,.right-container{
    width: 48%;
}
.right-container{
    text-align: center;
    margin:0 5px;
}
img{
    width: 35px;
    height:35px;
    margin-top: 25px;
}
h2{
    font-size:50px;

}
label{
    color:gray;
    font-size: 25px;
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
    width: 100%;
}
main{
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-bottom: 60px;
    min-height:450px;
}
form{
    text-align: center;
}
input{
    display: block;
    margin:10px auto;
    width: 200px;
    border: 2px solid lightsteelblue;
    padding: 5px;
}
.create,.save-changes,.login,.register{
    background:cornflowerblue;
    color: white;
    border: 2px solid lightsteelblue;
    padding: 15px;
    width: 100px;
}
footer{
    margin-top: 50px;
    text-align: center;
    background: cornflowerblue;
    padding: 20px 0;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}

.catalog-form{
    background: url("./assets/img/plane.jpg") no-repeat center ;
    width: 100%;
}
span,.log-out,.cart{
    margin-right:10px;
}
.cart{
    float:right;
    list-style-type: none; 
    margin-right:40px;
    margin-left:20px;  
}
.flight-parameters
{
   text-align: left;
}
.flight-parameters span{
    margin-left: 35px;
    font-size:35px;
}
.single-ticket{
    display: flex;
    margin: auto;
    background:cornflowerblue ;
    padding-bottom: 30px;
    width: 80%;
    margin-top: 5px;
}
.destination-img{
    width: 100%;
    height: 300px;
    margin-left: 20px;
}
.left-ticket-container{
    width: 49%;
}
.right-ticket-container{
    text-align: left;
    margin-left: 50px;
    width:45%;
}
.number-of-tickets{
    margin-top:5px;
    font-size:35px;
}
.right-ticket-container p{
    font-size: 25px;
}
.remove{
    float: right;
    list-style-type: none;
    display: inline-block;
    border: 2px solid lightsteelblue;
    padding: 10px;
    margin: 10px;
    width: 140px;
    text-align: center;
    color: red;
    background: none;
}
.right-ticket-container div{
    display: flex;
    margin-top: 40px;
}
.right-ticket-container .remove{
    margin-left: 260px;
}
.ticket-checkout{
    font-size: 25px;
    height: 150px;
    padding: 15px;
}
.total {
    margin: 10px;
}
.checkout{
    border: 2px solid lightskyblue;
    padding: 14px;
    margin: 10px;
    width: 160px;
    text-align: center;
    color: white;
    background: lightsteelblue;
    font-size: 20px;
}
.search{
    background:cornflowerblue;
    color: white;
    border: 2px solid lightsteelblue;
    padding: 15px;
    width: 120px;
    font-size: 20px;
    display: block;
}
.add-flight{
    width: 150px;
    background:cornflowerblue;
    color: white;
    border: 2px solid lightsteelblue;
    padding: 15px;
    font-size: 20px;
    display: block;
    margin: auto;
}
.center{
    width:90%;
    margin:0 auto;
}
.added-flight{
    color: black;
    cursor: pointer;
    min-width: 300px;
    width:31%;
    border: 2px solid blue;
    text-align: center;
    background: cornflowerblue;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 250px;
    display:inline-block;
    float:left;
}
.picture-added-flight{
    width: 200px;
    height: 150px;
    border-radius: 50%;
}
.added-flights{
    position: relative;
    min-height: 600px;
    width:100%;
}
.save-changes{
    width: 140px;
}
.edit-flight-detail{
    background: url("./assets/img/pencil.png") center;
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 100%;
    margin: 0 auto;
    display: -webkit-box;
}
.ticket-area-left img{
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
}
.ticket-area{
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    width: 60%;
    margin: auto;
}
.ticket-area-right{
    float: left;
    text-align: center;
    padding-top: 7%;
    width: 100%;
    height: 100%;
}
.data-and-time{
    width: 100%;
    padding-bottom: 10px;
}
.seat-form{
    display: inline-flex;
}
.seat-form input,button{
    margin:20px;
}
.seat-form span{
    margin-top: 31px;
    font-size: 19px;
}
.delete{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border:2px solid blue;
    color: red;
    margin: 20px;
}
.navigation{
    margin: auto;
}
.purchased-ticket{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding: 10px 5px 19px 5px;
    border: 1px solid;
    font-size: 15px;
    width: 90%;
    margin: 20px;
    left: 5%;
    position: relative;
    border-radius: 88px;
    border: 1px solid lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.purchased-left img{
    width: 100%;
    max-width:400px;
    height: 100%;
    padding:5px;
    margin: 5px 0 10px 5px;
    border: 1px solid lightblue;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tDetails{

}
.purchased-right{
    padding-left: 20px;
    font-size: 20px;
}
h3{
    font-size: 22px;
    margin-bottom: 0;
}
.nav-register{
    text-align: center;
}
footer{
    margin-top: 100px;
    text-align: center;
    background: cornflowerblue;
    padding: 20px 0;
    color: white;
    position:relative !important;
    width: 100%;
}
.notifier{
    position: absolute;
    display: block;
    width: 33%;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
    left: 33%;
    text-align: center;
    background: darkslateblue;
    z-index: 9;
    color: white;
    border: 2px solid darkgray;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifierEr{
    position: absolute;
    display: block;
    z-index: 9;
    width: 33%;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
    left: 33%;
    text-align: center;
    background: tomato;
    color: white;
    border: 2px solid darkgray;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
