<nav>
    <div class="navigation">
        <ul>
            <li>
                <a routerLink="/flights">Flights</a>
            </li>
            <li *ngIf="!session.checkSession()">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!session.checkSession()">
                <a routerLink="/register">Register</a>
            </li>
            <li *ngIf="session.checkSession()">
                <a routerLink="/mytickets">My Tickets</a>
            </li>
            <li class="cart">
                    <a routerLink="/cart"><img src="../assets/img/cart.png" alt="cart"><span>{{items}}</span></a>
            </li>
            <li *ngIf="session.isAdmin()">
                <a routerLink="/admin">Add Flight</a>
            </li>
            <li (click)='logout()' *ngIf="session.checkSession()" class="logout">Logout</li>
            <li *ngIf="session.checkSession()" class="welcome">Hello , {{session.getName()}}! | </li>
            </ul>
    </div>

</nav>
<div [@popOverState] = "stateName()" [ngClass]="{'notifier': report, 'notifierEr': reportError}" (click)="hide()">{{message}}</div>
<router-outlet></router-outlet>

<footer>SoftUni Airlines</footer>